body{
    background-image: url(images/ghana3.jpg);
    background-size: cover;
}
.navbar h1 {
   margin-left: 480px;
   box-shadow: 3px 6px 10px black;
}
.container {
    border: solid none;
    height: 680px;
   width: 600px;
   border-radius: 20px;
    color: white;
text-align: center;
margin-left: 300px;
box-shadow: 10px 20px 30px white ;
font-style: italic;
font-size: medium;
background-color: orange;
}

.onclick {
    margin-top: 35px;
  border-radius: 15px;
}